@import 'https://code.highcharts.com/css/highcharts.css';


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h1 {
    font-size: 34px;
}

.topBar {
    height: 60px;
    background-color: #08B2E3;
    width: 100%;
    text-align: center;
    /*border-bottom: 3px solid #08B2E3;*/
    box-shadow: 0 3px 2px -2px gray;
    margin-bottom: 25px;
}

.topBar p {
    font-size: 3em;
    width: 40%;
    margin: auto;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #555;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 25%;
}

.dashboard {
    width: 60%;
    margin: auto;
}

.container {
    border: 1px solid rgba(40, 40, 40, 0.3);
    border-radius: 5px;
    height: 500px;

}
.chart {
    min-width: 310px;
    /*width: 40%;*/
    margin: 0 auto;
    margin-top: 20px;

}

.textContainer {
    /*background-color: black;*/
    /*width: 100%;*/
    overflow-y: scroll;
}

.textContainer h1 {
    margin-top: 25px;
}

.textBox {
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 100%;
}

.textBox h2 {
    font-size: 1.7em;
}

.titleDate {
    font-size: 0.5em !important;
}
.chartToolbar {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    height: 32px;
    margin-top: 10px;
}

.selectContainer {
    margin-top: 1px;
}

.selectLabel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}
#compareModeButton {
    height: 28px;
    /*width: 20%;*/
    float: right;
    font-size: 0.95em;
    margin-top:1px;
}


.weatherStation {
    width: 40%;
    height: 100%;
    margin-top: 1px;
}

.degreeChanger {
    font-size: 2em;
    cursor: pointer;
}

.disabledDegreeType {
    color: rgba(128,128,128, 0.7);
}

@media screen and (max-width: 972px) {

}

.obvRow {

    margin-top: 55px;
}

.singleObv {
    text-align: center;
    font-size: 2em;
}

.secondrow {
    margin-bottom: 50px;
}

/*///////////////Highcharts customizations //////////////*/

.highcharts-title {
    fill: #434348;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*letter-spacing: 0.3em;*/
    font-size: 3em;
}

.highcharts-subtitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

.highcharts-xaxis-labels {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

.highcharts-yaxis {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

.highcharts-text-outline {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

.highcharts-menu-item {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em !important;
}

.highcharts-menu {

}

.highcharts-credits {
    display: none;
}


/*//////SELECT2 SEARCH STYLING /////////// */
.select2-selection select2-selection--single {
    height: 60px !important;
    padding-top: 5px !important;
    margin-top: 1px;

}

.select2 select2-container select2-container--default select2-container--above select2-container--focus {
    width: 40% !important;
    height: 60px !important;
}

/*.select2 {
    width: 200px;
}*/
/
/*//////ANIMATIONS /////////// */
